.compose-window {
  border-bottom: 1px solid #e6ecf0;
  display: flex;
}

.compose-window__form {
  display: flex;
}

.compose-window__author-logo {
  width: 49px;
  height: 49px;
  border-radius: 50%;
  margin-right: 10px;
}

/* .compose-window__right-side {

} */

.compose-window__form {
  display: flex;
  flex-direction: column;
}

.compose-window__input {
  width: 500px;
  /* border-bottom-color: rgb(123, 115, 101);
  border-top: none;
  border-left: none;
  border-right: none; */
  border: none;
}

.compose-window__svg-icon {
  height: 20px;
  width: 20px;
  filter: invert(51%) sepia(26%) saturate(4573%) hue-rotate(179deg)
    brightness(99%) contrast(90%);
  cursor: pointer;
}

.compose-window__button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.compose-window__submit-button {
  background-color: rgb(29, 155, 240);
  font-weight: 700;
  color: white;
  border-radius: 9999px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  min-height: 36px;
  min-width: 36px;
  max-width: 75px;
  cursor: pointer;
  margin-bottom: 8px;
}

.image-upload > input {
  display: none;
}
